*.out
*.o
*.txt
*.bin
*.d
*.org
build_*/

.ccls-cache/

*.gdb_history

compile_commands.json
*.json.gz
.vscode/

kernel.mak
image/
output

pc-bios/linuxboot_dma.raw
pc-bios/linuxboot_dma.img
*.cpio.gz
