*.out
*.o
*.txt
*.bin
*.d
*.org
.ccls-cache/
*.gdb_history

*.json.gz
.vscode/
compile_commands.json

build_*/
image/
output/
pc-bios/linuxboot_dma.raw
pc-bios/linuxboot_dma.img
*.cpio.gz

*.qcow2
env/loongarch/include/generated
*.tar.xz
.vim-bookmarks
